body {
    width: 100%;
    padding: 0;
    margin: 0;
}

.full-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    background-color: #000;
}

.full-bg img {
    min-width: 280px;
    max-width: 20%;
}